.CameraBuy-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.CameraBuy-page .input {
  display: none;
}

.CameraBuy-page .message {
  margin: 20px 0;
  color: #888;
}
