.My {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-color: #ffffff;
}

.My .header-sec {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 1rem; 
  margin: 0.5rem 0;
  border-bottom: 0.5px solid #ddd; 
}

.My .header-sec .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.My .info-sec {
  width: 100%;
  border-bottom: 0.5px solid #ddd; 
}

.My .info-sec .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.My .info-sec .profile_images {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.My .info-sec .photo-text {
  color: #00bbff;
  font-size: 15px;
  font-weight: 600;
  margin: 0.8rem 0;
  cursor: pointer;
}

.My .info-modal {
  margin: 1cqb 0;
}

.My .arrow {
  cursor: pointer;
}

.My .info-modal .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
}

.My .info-modal .input {
  color: #dadada;
  flex-grow: 1;
  text-align: left; 
  margin-left: 3rem;
}

.My .info-modal .name:first-of-type .input {
  margin-left: 3.8rem; /* 원하는 margin-left 값으로 설정 */
}

.My .arrow {
  color: #dadada;
  flex-shrink: 0;
  margin-left: 1rem;
}

.My .my-sec {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 0.5px solid #ddd; 
}

.My .interest {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .deal {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .review {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .out-sec {
  width: 100%;
  margin: 1rem 0;
}

.My .out {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .logout {
  display: flex;
  padding: 1rem 0;
  
  font-weight: 600;
  color: #ff0000;
  cursor: pointer;
}

