.My {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* height: 100%; */
  background-color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  padding: 0 1rem;
}

.My .header-sec {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 1rem; 
  margin: 0.5rem 0;
  border-bottom: 0.5px solid #ddd; 
}

.My .header-sec .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.My .info-sec {
  width: 100%;
  border-bottom: 0.5px solid #ddd; 
}

.My .info-sec .photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.My .info-sec .card {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.My .info-sec .photo-text {
  color: #00bbff;
  font-size: 15px;
  font-weight: 600;
  margin: 0.8rem 0;
}

.My .info-modal {
  margin: 1cqb 0;
}

.My .info-modal .name {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 0;
}

.My .info-modal .input {
  color: #dadada;
}

.My .arrow {
  color: #dadada;
}

.My .line {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 1px;
  background-color: #dadada;
}

.My .my-sec {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 0.5px solid #ddd; 
}

.My .interest {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .deal {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .review {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .out-sec {
  width: 100%;
  margin: 1rem 0;
}

.My .out {
  display: flex;
  justify-content: space-between;

  padding: 1rem 0;
}

.My .logout {
  display: flex;
  padding: 1rem 0;
  
  font-weight: 600;
  color: #ff0000;
}

