.Buy-modal {
  text-align: center;
  width: 100%;
  height: 70vh;
}

.Buy-modal .topline {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 18%;
  height: 5px;
  background-color: #dadada;
  border-radius: 2px;
}

.Buy-modal .title-1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid #dadada;
}

.Buy-modal .reco {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;

  padding-top: 1rem;
  overflow-y: auto;
}

.Buy-modal .reco .reco-1,
.Buy-modal .reco .reco-2 {
  width: 44%;
  height: 100%;
}

.Buy-modal .reco .info-1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #8f0456;
}

.Buy-modal .reco .info-2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Buy-modal .reco .card-sec {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 26vh;
  margin-bottom: 10px;
}

.Buy-modal .reco .card-sec .card {
  width: 100%;
  height: 20vh;
  border-radius: 6px;
  margin-bottom: 10px;
}

.Buy-modal .reco .card-sec .name {
  font-size: 12px;
  text-align: left;
}

.Buy-modal .reco .card-sec .price {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
