.Buy-modal {
  text-align: center;
  width: 100%;
}

.Buy-modal .topline {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 18%;
  height: 5px;
  background-color: #dadada;
  border-radius: 2px;
}

.Buy-modal .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.5px solid #dadada;
}

.Buy-modal .cancel {
  display: flex;
  justify-content: flex-end;
}

.Buy-modal .Buy-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.Buy-modal .Buy-cards .card-sec {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: calc(50% - 4px);
  margin-bottom: 12px;
  text-align: left;
}

.Buy-modal .Buy-cards .card {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* 정사각형 이미지 */
  object-fit: cover;
  border-radius: 8px;
}

.Buy-modal .Buy-cards .name {
  font-weight: 500; 
  padding-top: 0.3rem;
}

.Buy-modal .Buy-cards .price {
  font-weight: bold;
  font-size: 14px;
  padding-top: 0.4rem;
}
