.name-modal {
  /* padding: 20px; */
  text-align: center;
  width: 100%;
}

.name-modal .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.name-modal .cancel {
  display: flex;
  justify-content: flex-end;
}

.name-modal .line {
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

.name-modal .text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  padding: 1rem;
}

.name-modal input {
  border: none;
  width: 100%;
  padding: 0.6rem;
  font-size: 16px;
  /* border-bottom: 0.5px solid #dadada; */
}

.name-modal .button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}