.out-modal {
  /* padding: 20px; */
  text-align: center;
  width: 100%;
}

.out-modal .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.out-modal .cancel {
  display: flex;
  justify-content: flex-end;
}

.out-modal .line {
  width: 100%;
  height: 1px;
  background-color: #dadada;
}

.out-modal .text-1 {
  font-size: 22px;
  font-weight: 600;
  margin: 2rem 0;
}

.out-modal .text-2 {
  font-size: 20px;
  margin: 2rem 0;

  color: #dadada;
}

.out-modal .button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}