.FindId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.FindId .find-form {
  width: 100%;
}

.FindId .find-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
}

.FindId .line {
  width: 100%;
  height: 1px;
  background-color: rgb(165, 165, 165);
  margin-bottom: 1.2rem;
}

.FindId .id-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 90%;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}