.findPw-modal {
  /* padding: 20px; */
  text-align: center;
  width: 100%;
}

.findPw-modal .title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1rem;

  color: black;
  border-bottom: 0.5px solid #dadada;
}

.findPw-modal .cancel {
  display: flex;
  justify-content: flex-end;
}

.findPw-modal .findPw-input {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 320px;
  margin: 1rem;
}

.findPw-modal .findPW-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* margin-top: 2rem; */
}

.findPw-modal .find-field {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-bottom: 0.5px solid #dadada;
}

.findPw-modal .button {
  margin-top: 2rem;
}