.favorite-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s;
}

.favorite-button:hover {
  color: #ff1c8e;
}

.favorite-count {
  font-size: 12px;
  transition: color 0.3s;
}
