.filter-button {
  background-color: transparent;
  color: #333; 
  border: 2px solid #ddd; 
  padding: 8px 8px;
  margin: 0 3px;
  
  border-radius: 20px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  transition: color 0.3s, border-color 0.3s; 
}

.filter-button.active {
  color: #8f0456; 
  border-color: #8f0456; 
}

.filter-button-content {
  display: flex;
  align-items: center;
}

.filter-button-icon {
  margin-left: 8px; /* 아이콘과 텍스트 사이 여백 */
}
