.tabs {
    display: flex;
    position: relative;
    border-bottom: 0.5px solid #ddd;
    overflow: hidden;

    font-size: 15px;
  }
  
  .tab {
    flex: 1;
    padding: 16px 3px;
    text-align: center;
    cursor: pointer;
  }
  
  .tab.active {
    font-weight: bold;
  }
  
  .line-bar {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #8f0456;
    transition: left 0.3s ease, width 0.3s ease;
  }
  