.bottom-quest {
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 600px;
  padding-bottom: 0.25rem;
  background-color: #fefefe;
  box-sizing: border-box;
  border-top: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-quest .interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff1c8e;
  font-size: 12px;
  cursor: pointer;
}
