.Product {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 115vh;
  background-color: #ffffff;
}

.Product .header-sec {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #ddd; 
}

.Product .back {
  /* padding-left: 1rem; */
  cursor: pointer;
}

.Product .alarm {
  /* padding-right: 1rem; */
  cursor: pointer;
}

.Product .title {
  font-weight: 600;
  font-size: 18px;
}


.Product .photo-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.Product .arrow {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(139, 139, 139, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.Product .arrow.left {
  left: 1rem;
}

.Product .arrow.right {
  right: 1rem;
}

.Product .thumbnail-sec {
  display: flex;
  justify-content: center;

}

.Product .thumbnail {
  border: 1.5px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0.3rem;
}

.Product .thumbnail.active {
  border-color: #8f0456;
}


.Product .card {
  display: flex;

  border-radius: 8px;
  margin-bottom: 1rem;
  /* padding: 0 4rem; */
}
.Product .product-sec {
  width: 94%;
  margin: 1rem;
  padding-top: 0.5rem;
  border-top: 0.5px solid #dadada;
}

.Product .info {
  display: flex;
  flex-direction: column;
}

.Product .info .cate {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  color: #c0c0c0;
  margin: 0.3rem 0;
}

.Product .name {
  font-size: 22px;
  font-weight: 600;
}

.Product .nickname {
  padding: 0.5rem 0;
  color: #a2a2a2;
  /* border-bottom: 1px solid #e0e0e0; */
}

.Product .price {
  padding: 0.5rem 0;
  padding-bottom: 2rem;
  font-size: 22px;
  font-weight: 450;
  letter-spacing: -0.5px; 
  border-bottom: 1px solid #e0e0e0;
}
.Product .content {
  height: 300px;
  /* margin-top: 2rem; */
  padding-top: 1rem;
  text-align: left;
  color: rgb(41, 41, 41);
  border-top: 10px solid #f5f5f5;
}
