.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 115vh;
  background-color: #ffffff;
}

.Product .header-sec {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #ddd; 
}

.Product .back {
  padding-left: 1rem;
  cursor: pointer;
}

.Product .alarm {
  padding-right: 1rem;
  cursor: pointer;
}

.Product .title {
  font-weight: 600;
  font-size: 18px;
}


.Product .photo-sec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.Product .arrow {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(139, 139, 139, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.Product .arrow.left {
  left: 1rem;
}

.Product .arrow.right {
  right: 1rem;
}

.Product .thumbnail-sec {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.Product .thumbnail {
  border: 1.5px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0.3rem;
}

.Product .thumbnail.active {
  border-color: #8f0456;
}


.Product .card {
  display: flex;

  border-radius: 8px;
  margin-bottom: 1rem;
  /* padding: 0 4rem; */
}
.Product .product-sec {
  width: 88%;
  margin: 1rem;
}

.Product .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.Product .name {
  font-size: 22px;
  font-weight: 600;
}
.Product .nickname {
  padding: 0.5rem 0;
  color: #a2a2a2;
}

.Product .price {
  padding: 0.5rem 0;

  font-size: 22px;
  font-weight: 450;
  letter-spacing: -0.5px; 
}
.Product .content {
  height: 300px;
  margin-top: 2rem;

  text-align: left;
  color: #a2a2a2;
}
