.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 900px;
  background-color: #ffffff;

  /* margin-top: 0.5rem; */
  padding: 0 1rem;
}

.Product .header-sec {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #ddd; 
}

.Product .title {
  font-weight: 600;
  font-size: 18px;
}


.Product .photo-sec {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.Product .card {
  border-radius: 8px;
  margin-bottom: 1rem;
}
.Product .product-sec {
  margin: 1rem;
}

.Product .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.Product .interest {
  color: #ff1c8e;
}

.Product .name {
  font-size: 22px;
  font-weight: 600;
}
.Product .nickname {
  padding: 0.5rem 0;
  color: #a2a2a2;
}

.Product .price {
  padding: 0.5rem 0;

  font-size: 22px;
  font-weight: 450;
  letter-spacing: -0.5px; 
}
.Product .sentence {
  color: #a2a2a2;
}

.Product .write {
  padding: 0.5rem 0;
  font-size: 16px;
  color: #a2a2a2;
}