.AppButton-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgb(49, 49, 49) !important;  /* !important 사용 */
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;

  margin: 0.2rem 0;
  padding: 1rem;
  width: 338px;
  height: 48px;
  background-color: transparent ;
}

.AppButton-button:hover {
  opacity: 0.9;
  background-color: #8f0456 !important;  /* !important 사용 */
  color: #ffffff !important;  /* !important 사용 */
  border-radius: 5px;
}
