.dealSell-modal {
  /* padding: 20px; */
  text-align: center;
  width: 100%;
}

.dealSell-modal .topline {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 18%;
  height: 5px;

  background-color: #dadada;
  border-radius: 2px;
}

.dealSell-modal .dealSell-sec {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0.9rem 0;


}

.dealSell-modal .dealSell-sec .text {
  font-size: 18px;
  text-align: left;
  padding: 1rem 0.5rem;
  border-bottom: 0.5px solid #dadada;
}

