.guide-modal {
  /* padding: 20px; */
  text-align: center;
  width: 100%;
}

.guide-modal .cancel {
  display: flex;
  justify-content: flex-end;
}

.guide-modal .title {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #dadada;
}

.guide-modal p {
  font-size: 16px;
  font-weight: 600;
  /* text-decoration: underline; */
  color: #e8108e;
}

.guide-modal .forms {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1.5rem;
  font-size: 14px;
}

.guide-modal .form {
  display: flex;
  justify-content: start;

  margin-bottom: 20px;
}

.guide-modal .icon {
  padding-right: 0.5rem;
}

.guide-modal .form .text {
  font-size: 16px;
  text-align: left;
}




/* 
.guide-modal button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #8f0456;
  color: white;
  border: none;
  cursor: pointer;
} */