.sellCategory-modal .cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sellCategory-modal .title {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
  margin-bottom: 0.6rem;

  font-size: 20px;
  font-weight: 600;
}

.sellCategory-modal .line {
  width: 100%;
  height: 1px;
  color: #dadada;
}

/* .sellCategory-modal .sticky-tabs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
} */

/* 가로 스크롤써서 화면 밖으로 쭉 빼기 */
.sellCategory-modal .category-buttons {
  /* display: flex; */
  /* overflow-x: auto; */
  /* white-space: nowrap; */
  margin-top: 8px;
  margin-bottom: 8px;
  /* width: 110%; */
}

.sellCategory-modal .confirm {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; 
  margin-top: 2rem;
  margin: 1rem 0;
}

.confirm .apply-button {
  width: 80%;
  padding: 15px 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}
