/* .sellOption-modal {
  height: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
} */

.sellOption-modal .cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.sellOption-modal .title {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;
  border-bottom: 0.5px solid #dadada;

  font-size: 20px;
  font-weight: 600;
}

.sellOption-modal .color-options {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 0.5px solid #dadada;
}

.sellOption-modal .color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  width: 50px; /* 모든 컨테이너의 폭을 동일하게 설정 */
}

.sellOption-modal .color-button {
  width: 25px;
  height: 25px;
  border: 1px solid #e5e5e5; /* 기본 상태의 연한 테두리 */
  border-radius: 100%;
  cursor: pointer;
  transition: border 0.3s;
}

.sellOption-modal .color-button.active {
  border: 2px solid #4d4d4d;
}

.sellOption-modal .color-name {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
  min-height: 1rem; /* 색상 이름의 최소 높이 설정 */
}

.sellOption-modal .size-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;
}

.sellOption-modal .size-item {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: font-weight 0.3s;
}

.sellOption-modal .size-item.active {
  font-weight: 800;
  color: #d02488;
}

.sellOption-modal .confirm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sellOption-modal .apply-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sellOption-modal .apply-button:hover {
  background-color: #6d0344;
}


.sellOption-modal .confirm {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  position: fixed; /* 화면 하단에 고정 */
  bottom: 0;
  /* left: 0; */
  width: 90%;
  max-width: 560px; 
}

.confirm .apply-button {
  width: 80%;
  padding: 15px 20px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}
